<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To do List</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="box" id="heading">
    <h1>It's <%= kindOfDay %>!</h1>
  </div>
  <div class="box" id="">

    <% for(var i=0;i<newlistitem.length;i++){ %>
    <div class="item">
      <input type="checkbox">
      <p><%= newlistitem[i] %></p>
    </div>


    <% } %>
    <form class="" action="/" method="post">
      <input type="text" name="newitem" placeholder="Enter New item" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </div>


</body>

</html>
